extends header

block content
    header
        h1 Welcome to Paragraph Revision and Idea Provision!
        p A program that helps you revise your paragraphs, add new content, and generate ideas.
        main
        section
            h2 Paragraph Revision
            p With our program, you can easily revise your paragraphs by simply highlighting the text you want to change and typing in the new content. Our program will automatically update the paragraph for you.
        section
            h2 Paragraph Addition
            p Need to add more content to your paragraph? Our program has got you covered. Simply click the "Add" button and start typing. You can add as much content as you want, and our program will make sure it's seamlessly integrated into your paragraph.
        section
            h2 Idea Provision
            p Sometimes it can be hard to come up with new ideas for your writing. That's where our program comes in. With our Idea Provision feature, you can enter a topic or keyword, and our program will generate a list of ideas and suggestions for you to use in your writing.